# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore Makefile
!Makefile
# Ignore all executables
*.exe
*.dll
*.so
*.dylib
# Ignore all object files and libraries
*.o
*.obj
*.a
*.lib
# Ignore VSCode stuff
.vscode
.fake
# Ignore VS stuff
.vs
# Ignore macOS stuff
*.command
.DS_Store
# Ignore Windows stuff
Thumbs.db
desktop.ini
# Unignore wiki
!docs/wiki
# Ignore all ini files
*.ini
# Other temp files
*.frmbin
# Unignore macOS setup script
!setup_inform_mac.command
